<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
            <exclude>tests/support</exclude>
            <!-- system tests need real http_get()/http_post() - see phpunit.system.xml -->
            <exclude>tests/system</exclude>
        </testsuite>
    </testsuites>
</phpunit>
